@*This model type will be IEnumerable of Restaurant*@
@model MyMoneyMyFriend.ViewModels.HomePageViewModel

<!--Note that the body and header tags are handled by the layout view now. So they are removed from this content view.-->

@{  
    // This is a C# code block. you could set properties and invoke method etc.
    // The bellow viewBag property is inherited from the base class. 
    // Tthis is executetd before layout view is rendered. This information is pass out to layout view. Note tthis propertty is dynamic.
    ViewBag.Title = "Home";
    if (true)
    {
        // Tthis is tto sho that you can use some logic to set the layout view
        // Bellow says which layout to use for this cshtml file.
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Welcome!</h1>
<table border="1">
    <tr>
        <td>Id of the restaurant</td>
        <td>Details 1</td>
        <td>Details 2</td>
        <td>Name of the restaurant</td>
    </tr>
    @foreach (var resaurant in Model.Restaurants)
    {
        <tr>
            <td>@resaurant.Id</td>
            <td>
                <a href="/home/details/@resaurant.Id">details</a>
            </td>
            <td>
                @* You pass some params and it's going to build an anchor tag with href attribute.
                    ActionLink will consult with the routing rule to generate the proper link
                    1st Arg: The text to show to the user
                    2ed Arg: the action which this link points to when user clicks on it.
                    3ed Arg: Controller name: you could skip this as Details is in the same controller
                    4th Arg: Details requires ID value (route value) to arrive in the URL, the route values are passed here
                *@
                @Html.ActionLink("View", "Details", "Home", new { id = resaurant.Id })
            </td>
            <td>@resaurant.Name</td>
        </tr>
    }
</table>

@section footer {
     <!--Razer view engine will take this section and put it inside of a RenderSection with name `footer`-->
<h3>@Model.CurrentMessage</h3>

}
