@model LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>


<!--This form will post to a web sever. Also making sure that Anti forgery token is generated here. 
    The form will post back to the same action that it came from so /Account/Login and this includes any query string that's in the URL -->
<form method="post" asp-antiforgery="true">

    <!--Providing space for showing errors that may appear.
        ModelOnly are errors that are not associated with a single property. Something like not being able to confirm passwords-->
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <!-- You don't have to worry about setting the type of the input to password. Asp-for tag will see the
            data annotations on this view model property and sets the type appropriately -->
        <label asp-for="Username"> </label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <label asp-for="Password"> </label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <!--Since RememberMe is a bool, asp-for is smart enough to make this a check box. 
            Note that the text `Remember Me` is shown as this is the value of Display tag which is set in LoginViewModel-->
        <label asp-for="RememberMe"> </label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>

    <div>
        <input type="submit" value="Login" />
    </div>
</form>